{% extends "base.html" %}

{% block title %}
  password change
{% endblock title %}

{% block content %}
  <div class="d-flex">
      <div class="row">
          <h1>Change your password</h1>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="change" class="btn btn-dark">
        </form>
      </div>
  </div>
{% endblock content %}
