{% extends "base.html" %}
{% load static %}

{% block title %}
  home
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-center w-100">
    <div class="row justify-content-center text-left w-100">
      <div class="col-12 flex-column d-flex my-4">
        <div class="card">
            <div class="card-header">
                <h5>This is CNN MSNBC FoxNewsMax The Onion News Network</h1>
            </div>
            <div class="card-body">
                <h3 class="card-title">Every news source in one place, even joke news</h3>
                <p class="card-text">If you thought you had to go to 25 billion newspaper sites to get the news, you were so wrong.  We just sum 
                    up all the news in our own words in ways that may not make sense to you but who cares, no one really fact checks anything anymore 
                    anyway
                </p>
            </div>
            {% for article in articles %}
            <div class="card">
              <div class="card-header">
                  <h5>{{ article.section }}</h1>
              </div>
              <div class="card-body">
                  <h3 class="card-title">{{ article.title }}</h3>
                  <p class="card-text">{{ article.body }}
                  </p>
              </div>
              <div class="btn-group">
                <a href="{% url 'article_detail' article.pk %}"  class="btn btn-primary">view article</a>

                {% if user.is_authenticated %}
                <a href="{% url 'update_article' article.pk %}"  class="btn btn-primary">edit article</a>
                <a href="{% url 'del_article' article.pk %}"  class="btn btn-danger">delete article</a>
              </div>
              {% endif %}
       
              <div class="card-footer">
                by {{ article.author }} on {{ article.created_on }}</div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endblock content %}