{% extends 'base.html' %}

{% block title%}posts{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center mt-4">
        <h1 class="text-center">Delete Page</h1>
        <div class="card text-center">
            <p>Are you sure you want to delete this post?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-danger">Delete</button>
            </form>
        </div>


    </div>  
</div>

{% endblock %}